@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');


.nav-bar {
  text-align: center;
  color:rgb(0, 0, 0);
  background-image: url('images/minion\ image.jpg');
  -webkit-text-stroke: 0.01px black;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(246, 224, 23, 0.972);
  margin: 0%;
  font-family: 'Supermercado One', cursive;
}
.translator {
  text-align: center;
}
textarea {
  text-align: center;
  width: 60%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #285ba9;
  border-radius: 50px;
  font-size: 1rem;
  font-family: 'Supermercado One', cursive;
  

}
button {
  margin: 0.5rem;
  border-radius: 25px;
}

#output {
  background-color: white;
  border: 5px solid #285ba9;
  border-radius: 50px;
  width: 60%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  font-size:1rem;
}

.footer-bar {
  color: yellow;
  background-color: #285ba9;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .2rem;
}

.button-size{
  border-radius: 25px;
}


#button-translate {
  background-color:  #285ba9;
  color: rgba(246, 224, 23, 0.972);
  font-family: 'Supermercado One', cursive;
  font-size: 1rem;
  cursor: pointer;
}


#button-translate:hover{
    background-color: #285ba9;
    color:rgba(12, 12, 12, 0.972);
}

#button-translate:active{
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem #285ba9;
}

h2 {
  margin: 0px 0px;
  
}


.normal-text {
    font-size: 1.2rem;
    color: #285ba9;
    font-weight: bold;
}
.about-text{
    font-size: 1rem;
}